name: Go

on:
  push:
    branches: [ main ]
  pull_request: { }

permissions:
  contents: read
  checks: write

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true

      - name: Test
        run: go test -v ./...
